@using Spellslinger.Models
@using Spellslinger.Services
@using System.Drawing
@inherits ModelComponentBase<Tile>

<div class="tile" style="background-color: @Model.BackgroundColor.ToRgbaString()">
	<span style="color: @Model.Color.ToRgbaString();">@Model.Character</span>
	@if (Model.Actor is not null)
	{
		if (Model.Actor.IsPlayerControlled)
		{
			<div style="position: absolute; width: 100%; bottom: 0px">
				@if (Model.Actor.Knowledge.Spells.Any())
				{
					<DualMeterBar Meter="@Model.Actor.MP" Color="@Color.Cyan" />
				}
				<DualMeterBar Meter="@Model.Actor.HP" Color="@Color.Lime" />
			</div>
		}
		else
		{
			if (Model.Actor.Type.Depth > Game.CurrentMap.Depth)
			{
				<span class="actor-level actor-level-deep">@Model.Actor.Type.Depth</span>
			}
			else if (Model.Actor.Type.Depth < Game.CurrentMap.Depth)
			{
				<span class="actor-level actor-level-shallow">@Model.Actor.Type.Depth</span>
			}
			else
			{
				<span class="actor-level">@Model.Actor.Type.Depth</span>
			}
			<div style="position: absolute; width: 100%; bottom: 0px">
				@if (Model.Actor.Knowledge.Spells.Any())
				{
					<DualMeterBar Meter="@Model.Actor.MP" Color="@Color.Cyan" />
				}
				<DualMeterBar Meter="@Model.Actor.HP" Color="@Color.Red" />
			</div>
		}
	}
</div>